.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Vector\ \(1\).svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../imagens/menu_black_24dp\ 1\ \(1\).svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

:root {
    --cor-de-fundo: #EBECEE;
    --branco: white;
    --laranja: #EB9B00;
    --azul-degrade: rgba(24, 21, 163, 0.971);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
    margin-left: 0.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    
}

.lista-menu__link {
    color: var(--azul-degrade);
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}


@media screen and (min-width:1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    .container__titulo {
        font-weight: 200;
        display: block;
    }

    ..container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        margin-left: 5.3em; 
    }



    .opcoes__item {
        padding: 0 1.4em;
        list-style-type: none;
    }

    .opcoes__item {
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .opcoes__link {
        text-decoration: none;
        color: black;
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .lista-menu__item {
        list-style-type: none;
    }
}


@media screen and (min-width: 1480px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .container__texto {
        display: block;
    }
}